.admin-trainbot {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .admin-trainbot .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .admin-trainbot .overlap {
    position: absolute;
    width: 392px;
    height: 1080px;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgb(0, 59, 115) 0%,
      rgb(96, 163, 217) 100%
    );
  }
  
  .admin-trainbot .teenyicons-chatbot {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 494px;
    left: 82px;
  }
  
  .admin-trainbot .vector {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 0;
    left: 0;
  }
  
  .admin-trainbot .img {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 14px;
    left: 16px;
  }
  
  .admin-trainbot .chat-bot {
    position: absolute;
    height: 39px;
    top: -3px;
    left: 77px;
    font-family: "Monda", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .admin-trainbot .text-wrapper {
    position: absolute;
    width: 150px;
    height: 19px;
    top: 1030px;
    left: 154px;
    font-family: "Monda", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .admin-trainbot .carbon-machine {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 38px;
    left: 74px;
  }
  
  .admin-trainbot .text-wrapper-2 {
    position: absolute;
    width: 156px;
    height: 30px;
    top: 57px;
    left: 162px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 4.80px;
    line-height: normal;
  }
  
  .admin-trainbot .pepicons-pop {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 197px;
    left: 79px;
  }
  
  .admin-trainbot .text-wrapper-3 {
    position: absolute;
    height: 39px;
    top: 200px;
    left: 154px;
    font-family: "Monda", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .admin-trainbot .text-wrapper-4 {
    position: absolute;
    height: 39px;
    top: 294px;
    left: 154px;
    font-family: "Monda", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .admin-trainbot .fluent-publish {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 296px;
    left: 83px;
  }
  
  .admin-trainbot .covid-transmission {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 395px;
    left: 82px;
  }
  
  .admin-trainbot .group {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 0;
    left: 0;
  }
  
  .admin-trainbot .text-wrapper-5 {
    position: absolute;
    height: 39px;
    top: 1px;
    left: 79px;
    font-family: "Monda", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .admin-trainbot .group-2 {
    position: absolute;
    width: 30px;
    height: 33px;
    top: 1025px;
    left: 88px;
  }
  
  .admin-trainbot .overlap-group {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 29px;
    left: 1776px;
    background-color: #eaf6ff;
    border-radius: 45px;
  }
  
  .admin-trainbot .avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 5px;
  }
  
  .admin-trainbot .group-wrapper {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 60px;
    left: 1625px;
    background-image: url(https://c.animaapp.com/r1UY7W4r/img/belloutline.svg);
    background-size: 100% 100%;
  }
  
  .admin-trainbot .overlap-group-wrapper {
    position: relative;
    width: 22px;
    height: 17px;
    top: 5px;
    left: 20px;
  }
  
  .admin-trainbot .overlap-group-2 {
    position: relative;
    width: 20px;
    height: 17px;
  }
  
  .admin-trainbot .fond {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    left: 2px;
    background-color: #ff0000;
    border-radius: 8.5px;
  }
  
  .admin-trainbot .counter {
    position: absolute;
    width: 20px;
    top: 2px;
    left: 0;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    color: var(--whitew-100);
    font-size: 6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .admin-trainbot .cog-outline {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 58px;
    left: 1703px;
  }
  
  .admin-trainbot .search-bar {
    position: absolute;
    width: 619px;
    height: 73px;
    top: 46px;
    left: 463px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #0052b4;
  }
  
  .admin-trainbot .group-3 {
    position: relative;
    width: 428px;
    height: 36px;
    top: 18px;
    left: 51px;
  }
  
  .admin-trainbot .text-wrapper-6 {
    position: absolute;
    width: 377px;
    top: 3px;
    left: 48px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #8a8a8a;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .admin-trainbot .iconly-light-outline {
    position: absolute;
    width: 34px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .admin-trainbot .animation {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 381px;
    left: 960px;
    background-color: #ffffff;
  }
  
  .admin-trainbot .overlap-2 {
    position: relative;
    width: 247px;
    height: 220px;
    top: 40px;
    left: 76px;
  }
  
  .admin-trainbot .ellipse {
    position: absolute;
    width: 242px;
    height: 212px;
    top: 5px;
    left: 4px;
  }
  
  .admin-trainbot .ellipse-2 {
    position: absolute;
    width: 247px;
    height: 220px;
    top: 0;
    left: 0;
  }
  
  .admin-trainbot .outer {
    position: absolute;
    width: 1528px;
    height: 81px;
    top: 1000px;
    left: 392px;
    background-color: #ffffff;
    border-radius: 8.09px;
    overflow: hidden;
  }
  
  .admin-trainbot .main-message-box {
    position: relative;
    width: 1524px;
    height: 70px;
    top: 6px;
    left: 3px;
    background-color: var(--x-light-themerestbackgrounddefault-background);
    border-radius: 6.74px;
    border: 1px solid;
    border-color: #60a3d9;
    box-shadow: 0px 0.69px 1.54px #00000021, 0px 0.13px 0.39px #0000001c;
  }
  
  .admin-trainbot .body {
    position: absolute;
    width: 650px;
    top: 25px;
    left: 16px;
    font-family: "Montserrat", Helvetica;
    font-weight: 500;
    color: var(--x-light-themerestforegrounddefault-foreground-1-424242);
    font-size: 16.2px;
    letter-spacing: 0;
    line-height: 17.2px;
  }
  
  .admin-trainbot .component {
    position: absolute;
    width: 96px;
    height: 31px;
    top: 18px;
    left: 1404px;
  }
  
  .admin-trainbot .frame {
    position: relative;
    height: 31px;
    background-color: #000000;
    border-radius: 15px;
    border: 2px solid;
    border-color: #1900ff;
  }
  
  .admin-trainbot .vector-2 {
    position: absolute;
    width: 20px;
    height: 21px;
    top: 3px;
    left: 6px;
  }
  
  .admin-trainbot .text-wrapper-7 {
    position: absolute;
    top: 4px;
    left: 36px;
    font-family: "Montserrat", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16.2px;
    letter-spacing: 0;
    line-height: 17.2px;
    white-space: nowrap;
  }
  
  .admin-trainbot .line {
    position: absolute;
    width: 1429px;
    height: 6px;
    top: 175px;
    left: 437px;
    object-fit: cover;
  }
  