:root {
    --whitew-100: rgba(255, 255, 255, 1);
    --white-100: rgba(255, 255, 255, 1);
    --x-light-themerestforegrounddefault-foreground-1-424242: rgba(66, 66, 66, 1);
    --x-light-themerestbackgrounddefault-background: rgba(255, 255, 255, 1);
  }
  